/* ONLY VOID */
div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-weight: 700;
}

img {
    width: 9%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;   
}

/* thanks */